body {
  font-family: "Lato", sans-serif;
  margin: 0px;
  margin-top: 0;
  background-color: black;
}

h1,
h3 {
  color: #a32cdf;
  font-weight: bold;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.publisher {
  color: white;
}
